@model BaseViewModel

<!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> -->
<section data-ktc-search-exclude class="section section-signup bg-white">
    <div class="global-container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-signup-donate">
                    <h2 class="h4">Make a Donation</h2>
                    <p class="">
                        Your tax-deductible donation funds lung disease and lung cancer research, new treatments, lung health education, and more.
                    </p>
                    <a id="signUpDonateBtn" href="/donate" class="btn secondary-btn homeDonateBtn">Make a Donation</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-signup-email">
                    @if (Model.IsLoggedIn)
                    {
                    <h2 class="h4">Get Involved</h2>
                    <p>We need your help! Participate in an event, become a volunteer, advocate for laws, share your story or make a donation.</p>
                    <a href="/get-involved" class="btn btn-primary getInvolvedBtn">GET UPDATES</a>
                    }
                    else
                    {
                    <div class="js-newsletter-form">
                        <h2 class="h4">Become a Lung Health Insider</h2>
                        <p class="">Join over 700,000 people who receive the latest news about lung health, including research, lung disease, air quality, quitting tobacco, inspiring stories and more!</p>
                        <div class="newsletter-before">
                            <form action="https://action.lung.org/site/SSurvey" method="post" name="responsiveSurvey" id="responsiveSurvey-footer" class="" target="redirectframe">
                                <div class="input-group newsletter-signup">
                                    <label for="footer-email-signup" class="sr-only">Sign Up For Newsletter</label>
                                    @Html.Partial("Data/_NewsletterFields", "footer")
                                    <span class="input-group-append">
                                        <button class="btn btn-primary btn-submit" type="submit">GET UPDATES</button>
                                    </span>
                                    <div class="error email hidden">
                                        Please enter a valid email address
                                    </div>
                                </div>
                                <!-- TURNSTILE CODE ADDED HERE -->
                                <!-- <div id="turnstileFooter"></div>         -->
                                
                                <div id="turnstileFooter">
                                    <div class="cf-turnstile" data-sitekey="0x4AAAAAABlDXLgHJmBysAtP"></div> 
                                    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
                                </div>
                                
                                <!-- TURNSTILE CODE ADDED HERE -->
                            </form>
                        </div>
                        <div class="newsletter-after d-none">
                            <p>
                                Thank you! You will now receive email updates from the American Lung Association.
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let successfulToken = false;

    const finalizeSurvey = ()=>{
        let surveyID = `<input type="hidden" name="SURVEY_ID" id="@Model-SURVEY_ID" value="56280">`;
        document.querySelector("#surveyIDInput").innerHTML  = surveyID;
        successfulToken = true;
        // document.getElementById("footer-email-signup").removeEventListner("input")
        // document.getElementById("responsiveSurvey-footer").removeEventListner("submit")
    };

    const initialCheck = () => {
        console.warn("initialCheck running");
        if(!successfulToken){
            // token not validated or DNE
            console.warn("initialCheck: no successful token (yet)");
            // now check for a token
            if(document.querySelector('#responsiveSurvey-footer [name="cf-turnstile-response"]')){
                console.warn("initialCheck: turnstile input exists");
                // there IS an input at least, is there a value?
                let token = document.querySelector('#responsiveSurvey-footer [name="cf-turnstile-response"]').value;

                if(token){ // if the token is loaded
                    console.warn("initialCheck: token HAS loaded.")
                    if(lungTurnstileApi(token)){ // if it returns true, successful token. 
                        finalizeSurvey();
                    } else {
                        console.warn("DOMContentLoaded: input is there, but NO token yet");
                    }
                } else {
                    console.warn("initialCheck: token has NOT loaded yet.")
                }
            } else {
                console.warn("on submit: no input yet, turnstile has NOT loaded.");
            }  
        } // END of first if statement          
    }; // end initial check

    const lungTurnstileApi = (token) => {
        console.log(`token: ${token}`);
   	    $.ajax({
	        url: "/api/turnstile/validate",
	        data: {
	            "sitekey": "0x4AAAAAABlDXLgHJmBysAtP",
	            token: token
	         },
	        type: "POST",
	        success: function(json){
	        	console.log(`SUCCESS from lung.org/api/turnstile.validate`);
	            console.log(json);
                return true;
	        },
	        error: function(err){
	            console.warn(err);
	            alert("Verification failed. Please try again.");
	            return false;
	        }
	    });
    }; // end lungTurnstileApi();   

    // run when load
    document.addEventListener("DOMContentLoaded", ()=>{
        console.warn("DOMContentLoaded on footer signup");
        setTimeout(initialCheck, 2000);
    });// end DOMContentLoaded

    // run on input
    document.getElementById("footer-email-signup").addEventListener('input', function() {
        if(!successfulToken){
            // token not validated or DNE
            if(this.value.length >= 5 ){ // min length for valid email: a@b.c
                console.warn("oninput: possibly valid email. proceeding.");
                if(document.querySelector('#responsiveSurvey-footer [name="cf-turnstile-response"]')){
                    console.warn("oninput: turnstile input exists...");
                    // there IS an input at least, is there a value?
                    let token = document.querySelector('#responsiveSurvey-footer [name="cf-turnstile-response"]').value;

                    if(token.length){ // if the token is loaded
                        console.warn("oninput: token HAS loaded, now calling the API with it");
                        if(lungTurnstileApi(token)){ // if it returns true, successful token. 
                            console.warn("oninput: API returened true successfully! now calling finalizeSurvey()");
                            finalizeSurvey();
                        } else {
                            console.warn("oninput: there was a token, but API returned FALSE, failure!");
                        }
                    } else {
                        console.warn("oninput: turnstile input exists, but no token.");
                    }
                } else {
                    console.warn("oninput: no turnstile input yet, turnstile has NOT loaded.");
                } 


            } else {
                console.warn("oninput: not valid email yet");
            }

        } else {
            console.warn("oninput: successfulToken now is true. end API calls.");
        }

    }); // end on input

    // run on submit (is this fast enough?)
    document.getElementById("responsiveSurvey-footer").addEventListener('submit', function(e) {
        e.preventDefault();
        if(!successfulToken){
            // token not validated or DNE
            if(document.getElementById("footer-email-signup").value.length >= 5 ){ // min length for valid email: a@b.c
                console.warn("onSubmit: possibly valid email. proceeding.");
                if(document.querySelector('#responsiveSurvey-footer [name="cf-turnstile-response"]')){
                    console.warn("onSubmit: turnstile input exists...");
                    // there IS an input at least, is there a value?
                    let token = document.querySelector('#responsiveSurvey-footer [name="cf-turnstile-response"]').value;

                    if(token.length){ // if the token is loaded
                        console.warn("onSubmit: token HAS loaded, now calling the API with it");
                        if(lungTurnstileApi(token)){ // if it returns true, successful token. 
                            console.warn("onSubmit: API returned SUCCESS! next, calling finalizeSurvey() and then submitting form.");
                            finalizeSurvey();
                            document.getElementById("responsiveSurvey-footer").submit();
                        } else {
                            console.warn("onSubmit: there was a token, but API returned FALSE, failure!");
                            e.preventDefault();
                        }
                    } else {
                        console.warn("onSubmit: turnstile input exists, but looks like there's no token.");
                        e.preventDefault();
                    }
                } else {
                    console.warn("onSubmit: no turnstile input yet, turnstile has NOT loaded.");
                    e.preventDefault();
                } 
            } else {
                console.warn("onSubmit: not possible for a valid email yet");
                e.preventDefault();
            }

        } else {
            console.warn("onSubmit: successfulToken now is true.");
        }
    });
</script>